.nav-bar {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 10;
  color: #ffffff;
  background-color: #4056a1;
  line-height: 120px;
  top: 0px;
  right: 0px;
}

nav {
  font-family: Bungee;
}

.nav-left {
  margin-left: 1.5em;
  float: left;
}

.nav-right {
  float: right;
  margin-right: 1.5em;
  display: flex;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: -100px;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  width: 0.45em;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 40px;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.stage {
  display: flex;
  height: 120px;
}

.chevron {
  align-self: flex-end;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}
.chevron.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .nav-bar {
    background-color: transparent;
  }
}
